body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	margin: 0;
	height: 100vh;
	flex-direction: column;
	background-color: #ffffff;
}

/*---- HEADER ----*/

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #e5e7eb;
	font-size: 24px;
	flex: 0 0 auto;
	height: 80px;
	background-color: #1f2937;
}

#header-logo {
	font-size: 24px;
	color:#f9faf8;
	font-weight: bolder;
}

.header ul {
	display: flex;
	gap: 24px;
	list-style-type: none;
	padding: 0;
	font-size: 18px;
}

.header a {
	color: #e5e7eb;
	text-decoration: none;
}

/*---- CONTENT ----*/

.content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.content button {
	color: #ffffff;
	background-color: #3882f6;
	font-weight: bold;
	border-radius: 10px;
	padding: 8px 24px;
}

.content .bigtext {
	line-height: 60px;
	font-size: 48px;
	color: #f9faf9;
	font-weight: 900;
	margin: 0 0 8px 0;
}

.content .description {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
	background-color: #1f2937;
	padding: 100px 15px;
	flex: 1 0;
}

.content .description .text-btn-container {
	flex: 0 1 auto;
	width:450px;
}

.content .description .text-btn-container p {
	font-size: 18px;
	padding: 0 !important;
	margin: 0;
	color: #e5e7eb;
	padding: 16px;
	margin-bottom: 12px;
}

.content .informations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	flex: 1 0;
}

.content .informations h2 {
	font-size: 32px;
	margin: 32px 0;
}

.content .informations ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0 0 32px 0;
	width: 60vw;
	min-width: 630px;
	max-width: 930px;
	justify-content: space-around;
}


.content .informations ul .img-box,
.content .informations ul li {
	width: 150px;
}


.content .informations ul .img-box {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 150px;
	border: 4px solid #3882f6;
	border-radius: 20px;
}

.content .informations ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 8px;
	margin-bottom: 60px;
}

.content .quote {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e5e7eb;
	padding: 80px 30px;
	flex: 1 0;
}

.content .quote .text-aut-ctn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0 1 1;
	width: 830px;
}

.content .quote .text{
	font-size: 36px;
	font-style: italic;
	font-weight: 300;
	color: #1f2937;
}

.content .quote .author {
	font-size: 24px;
	font-weight: bold;
	align-self: flex-end;
}

.content .call {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
	background-color: #ffffff;
	flex: 1 0;
}

.content .call .box {
	display: flex;
	background-color: #3882f6;
	color: #ffffff;
	box-sizing: border-box;
	flex: 0 1 auto;
	height: 120px;
	width: 840px;
	border-radius: 8px;
	justify-content: space-around;
	padding: 0 5px;
	align-items: center;
}

.content .call .box h3 {
	margin: 0;
	font-size: 20px;
}

.content .call button {
	border-color: #ffffff;
}

/*---- FOOTER ----*/

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1f2937;
	color: #e5e7eb;
	height: 120px;
	flex: 0 0 auto;
}